<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<form action="/signin" method="POST">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="Email">
    <br>
     <input type="radio" name="consumer" value="watch fixer">watch fixer
    <input type="radio" name="consumer" value="service">need a service
    <br>
    
    <input type="submit" value="Submit">
</form>


</body>
</html>