<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<form action="/" method="POST">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="name1" placeholder="name">
    
    <br>
    <input type="radio" name="consumer" value="watch fixer">watch fixer
    <input type="radio" name="consumer" value="service">need a service
    <br>

    <input type="submit" value="Submit">
</form>
	<a href="/signin">Click here if you already have an account!</a>
</body>
</html>