{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* fallback color */
    background-image: url('../static/Rolex-Service.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="email"], input[type="radio"], input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}