<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="/home" method="POST">
    <input type="text" name="quote" placeholder="quote">
    <input type="text" name="who" placeholder="who said this quote?">
    <br/>
    <a href="/signout"><button type="button">sign out</button></a>
    <br/>
	<button type="submit" placeholder="Submit Button" value="Submit Quote">submit</button>
</form>
</body>
</html>